{% extends "_template_brite.html" %}
{% block head %}
{{ super() }}
{% endblock %}
{% block title %}Partner Portal - Registration{% endblock %}
{% block content %}
    {% if is_registration_completed %}
    <div>
        <div>Your registration has been submitted.  You will recieve an email with an activation link shortly.</div>
        <div>
            <a href="/">Click to return to the home page</a>
        </div>
    </div>
    {% else %}
    <script>
        $(document).ready(function() {
            $("#role").on("change", function() {
                $("#role").val($("#role option:selected").text());
            });

            $( "#partner_search" ).autocomplete({
                source: "/get_partner_profile_info",
                minLength: 2,
                select: function( event, ui ) {
                    console.log(ui);
                    event.preventDefault();
                    $("#partnerName").val(ui.item.name);
                    $("#partner_search").val(ui.item.label);
                    $("#partner").val(ui.item.id);
                }
            });
        });
    </script>
    <form id='login-form' action="/register" method='post'>
        <h1>Partner Portal Registration</h1>
        {% for error in error_list.messages %}
            <div class="error"><h1>{{error.message}}</h1></div>
        {% endfor %}
        <input type="text" name="firstName" placeholder="First Name" value="{{form_data.firstName}}" required><br />
        <input type="text" name="lastName" placeholder="Last Name" value="{{form_data.lastName}}" required><br />
        <input type="text" name="email" placeholder="Email" value="{{form_data.email}}" required><br />
        <select name="role" id="role" required>
            <option value="">Choose the role for {{app_title}}</option>
            {% for role in roles_list %}
            <option value="{{role.name}}"{% if form_data.role==role.name %}selected{% endif %}>{{role.name}}</option>
            {% endfor %}
        </select><br />
        <div class="ui-widget">
            <input id="partner_search" name="partner_search" placeholder="{{okta_config.partner_portal_label}} - Zipcode" value="{{form_data.partnerName}}" required>
        </div>
        <input type="password" name="password" placeholder="Password" required><br />
        <input type="password" name="confirmPassword" placeholder="confirm Password" required><br />
        <input type="hidden" name="partnerName" id="partnerName" value="{{form_data.partnerName}}" />
        <input type="hidden" name="partner" id="partner" value="{{form_data.partner}}" />
        <button type='submit'>Register</button>
        <div>
            <a href="/">Go Back</a>
        </div>
    </form>
    {% endif %}
{% endblock %}