{% extends "_template_brite.html" %}
{% block title %}{{okta_config.app_title}}-{{user.profile.firstName}} {{user.profile.lastName}}{% endblock %}
{% block content %}
    <!-- ======== @Region: #content ======== -->
    <div id="content">
      <div class="container" id="about">
        <div class="row">
          <!--main content-->
          {% block main_content %}{% endblock %}
          <!-- sidebar -->
          <div class="col-md-3 col-md-pull-9 sidebar visible-md-block visible-lg-block">
            <ul class="nav nav-pills nav-stacked">
              <li{% if menu == "my_apps" %} class="active"{% endif %}>
                <a href="/my_apps" class="first">
                  My Applications
                  <small>Current Assigned Apps</small>
                </a>
              </li>
              <li{% if menu == "request_apps" %} class="active"{% endif %}>
                <a href="/request_apps">
                  Request Application Access
                  <small>Apps you dont have</small>
                </a>
              </li>
              <li{% if menu == "request_user_access" %} class="active"{% endif %}>
                <a href="/request_user_access">
                  Request {{okta_config.app_title}} User Access
                  <small>Request access to {{okta_config.partner_portal_label}}</small>
                </a>
              </li>
              <li{% if menu == "request_admin_access" %} class="active"{% endif %}>
                <a href="/request_admin_access">
                  Request {{okta_config.app_title}} Admin Access
                  <small>Can approve {{okta_config.partner_portal_label}} users</small>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- Call out block -->
    <div class="block block-bg-primary block-bg-overlay block-bg-overlay-5 text-center" data-block-bg-img="https://picjumbo.imgix.net/HNCK8991.jpg?q=40&amp;w=1650&amp;sharp=30" data-stellar-background-ratio="0.3">
      <h2 class="m-t-0">
        Be part of our amazing team!
      </h2>
      <p class="m-a-0">
        <a href="#" class="btn btn-more btn-lg i-right">We're Hiring <i class="fa fa-angle-right"></i></a>
      </p>
    </div>
    <!-- Call out block -->
    <div class="block block-pd-sm block-bg-primary">
      <div class="container">
        <div class="row">
          <h3 class="col-md-4">
            Some of our Clients
          </h3>
          <div class="col-md-8">
            <div class="row">
              <!--Client logos should be within a 120px wide by 60px height image canvas-->
              <div class="col-xs-6 col-md-2">
                <a href="https://bootstrapmade.com" title="Client 1">
                  <img src="img/clients/client1.png" alt="Client 1 logo" class="img-responsive">
                </a>
              </div>
              <div class="col-xs-6 col-md-2">
                <a href="https://bootstrapmade.com" title="Client 2">
                  <img src="img/clients/client2.png" alt="Client 2 logo" class="img-responsive">
                </a>
              </div>
              <div class="col-xs-6 col-md-2">
                <a href="https://bootstrapmade.com" title="Client 3">
                  <img src="img/clients/client3.png" alt="Client 3 logo" class="img-responsive">
                </a>
              </div>
              <div class="col-xs-6 col-md-2">
                <a href="https://bootstrapmade.com" title="Client 4">
                  <img src="img/clients/client4.png" alt="Client 4 logo" class="img-responsive">
                </a>
              </div>
              <div class="col-xs-6 col-md-2">
                <a href="https://bootstrapmade.com" title="Client 5">
                  <img src="img/clients/client5.png" alt="Client 5 logo" class="img-responsive">
                </a>
              </div>
              <div class="col-xs-6 col-md-2">
                <a href="https://bootstrapmade.com" title="Client 6">
                  <img src="img/clients/client6.png" alt="Client 6 logo" class="img-responsive">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endblock %}